@import url('https://fonts.googleapis.com/css?family=Baloo');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

a { text-decoration:none !important }

* {
  box-sizing: inherit;
}